{% extends "error.html" %}

{% block body %}

<div class="align-items-center container d-flex h-100">
    <div class="flex-column text-center w-100">
        <h1 class="display-4">
            <strong>Oops!</strong>
        </h1>
        <h2>405</h2>
        <h4>Internal Server Error</h4>
    </div>
</div>

{% endblock %}
