{% extends "base.html" %}

{% block body %}

<div class="container-fluid">
    <div class="mb-2 mt-4 pb-2 text-center">
        <h1 class="display-4">
            <strong>Tasks</strong>
        </h1>
    </div>
</div>

<div class="container">
    <form action="/add" method="post">
        <div class="form-group">
            <div class="input-group">
                <input autofocus aria-describedby="basic-addon2" aria-label="Task" class="form-control" name="description" placeholder="Task" type="text">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <ul class="bg-transparent list-group list-group-flush">
        {% for task in tasks %}
        {% if not task.done %}
        <a href="/update/{{ task.id }}" class="bg-transparent list-group-item list-group-item-action">
            {{ task.description }}
            <span class="float-right">
                <form action="/delete/{{ task.id }}">
                    <button type="submit" class="btn btn-danger btn-sm">
                        <span class="fa fa-trash"></span>
                    </button>
                </form>
            </span>
        </a>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="container">
    <ul class="bg-transparent list-group list-group-flush">
        {% for task in tasks %}
        {% if task.done %}
        <a href="/update/{{ task.id }}" class="bg-transparent list-group-item list-group-item-action">
            <strike>{{ task.description }}</strike>
            <span class="float-right">
                <form action="/delete/{{ task.id }}">
                    <button type="submit" class="btn btn-danger btn-sm">
                        <span class="fa fa-trash"></span>
                    </button>
                </form>
            </span>
        </a>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<p></p>

{% endblock %}
